body{
background-image:url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png);
background-image:contain;
background-repeat:no-repeat;
height:300px;
width:350px;
padding-left:80px;
margin-top:10px;
margin-left:80px;
}
#con1{
width:450px;
padding-top:200px;
}
#source{
text-color:#ff8348;
}
#button{
float:up;
}
#img1{
size:40px
}

