body{
background-image:url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png);
backgrond-image:cover;
background-repeat:no-repeat;
width:1200px;
}
#color{
color:#5752ab;
padding-left:40px;
}
#con{
margin-top:1300px;
width:1000px;
border-top-right-radius:35px;
border-top-left-radius:30px;
background-color:#ffffff
}
#p1{
padding-left:40px;
}
#style{
background-color:#5752ab;
text-color:#d7dfe9;
border-color:#ffffff;
}
#source{
border-color:#ffffff;
text-color:#d7dfe9;
}